.flex{
    display: flex;
    flex-direction:column;
}
.item{
    height:300px;
    width: 50px;
    background:black;
    margin:15px;
}
.main{
    height: 70px;
    width: 290px;
    background: black;
    margin:15px;
}
.box{
    display:flex;
}