.flex{
    display: flex;
    flex-direction:column;
}
.item1{
    height:300px;
    width: 180px;
    background:black;
    margin:10px;
}
.item2{
    height: 300px;
    width: 80px;
    background:black;
    margin:10px;
}
.main{
    height: 70px;
    width: 280px;
    background: black;
    margin:10px;
}
.box{
    display:flex;
}